<% provide :title, Settings.user.edit.cannonical %>
<% provide :button_text, Settings.user.edit.idiom %>
<h1>Update your profile</h1>

    <%= render 'form' %>

      <div class="gravatar_edit">
        <%= image_tag @user.gravatar_url %>
        <a href="http://gravatar.com/emails", target="_blank"> change</a>
      </div>
      
