
<div class="col-xs-6 col-xs-offset-3">
				<div class="post-title">
				<h3>
				</h3>
				</div>
	<%=image_tag @post.picture%>
    <div class="post-content">
      <div class="post-title">
        <p>
			    <%=@post.title%>
        </p>
      </span>
  </div>
  <p>
      <%=@post.content%>
  </p>
  </div>
